@use "../abstracts";

.container-inner {
  display: flex;
  padding: 45px 0 44px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;

  &-form {
    margin-right: 45px;

    @include abstracts.screen(xxl) {
      margin-right: auto;
    }
  }

  &-lbl {
    position: relative;
  }

  &-search {
    width: 449px;
    height: 56px;
    padding: 0 150px 0 71px;
    border-radius: 16px;
    border: 2px solid #202554;
    border: 2px solid color(display-p3 0.1294 0.1451 0.3176);
    background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
    background: linear-gradient(
      162deg,
      color(display-p3 0.0902 0.102 0.251) 22.61%,
      color(display-p3 0.0902 0.102 0.251 / 0) 118.29%
    );
    color: var(--Greys-Blue-Grey-600, #a1a5b7);
    color: var(--Greys-Blue-Grey-600, color(display-p3 0.6353 0.6471 0.7098));
    font-family: "Quicksand", sans-serif;

    @include abstracts.screen(md) {
      width: 300px;
      padding: 0 30px 0 71px;
      &::placeholder {
        content: "Search";
      }
    }

    @include abstracts.screen(sm) {
      max-width: 200px;
      padding: 0 20px 0 40px;
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 20px;

      @include abstracts.screen(sm) {
        left: 5px;
      }
    }
  }

  &-action {
    display: flex;
    align-items: center;

    @include abstracts.screen(xxl) {
      position: fixed;
      flex-direction: column-reverse;
      justify-content: start;
      top: 0;
      inset: 0 0 0 74%;
      z-index: 10;
      padding: 20px;
      translate: 100%;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s, translate 0.2s;
      background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
      background: linear-gradient(
        162deg,
        color(display-p3 0.0902 0.102 0.251) 22.61%,
        color(display-p3 0.0902 0.102 0.251 / 0) 118.29%
      );
    }

    @include abstracts.screen(xl) {
      inset: 0 0 0 65%;
    }

    @include abstracts.screen(lg) {
      inset: 0 0 0 60%;
    }

    @include abstracts.screen(md) {
      inset: 0 0 0 45%;
    }

    @include abstracts.screen(sm) {
      inset: 0 0 0 15%;
    }

    &__hide {
      translate: 0;
      visibility: visible;
      opacity: 1;
    }

    &__overlay {
      @include abstracts.screen(xxl) {
        position: fixed;
        inset: 0 0 0 0;
        background: #ccc;
        background: color(display-p3 0.0431 0.051 0.1255);
        opacity: 0.8;
        display: none;
        z-index: 1;

        &-hide {
          display: block;
        }
      }
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 16px;

      @include abstracts.screen(xxl) {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      color: color(display-p3 1 1 1);
      font-weight: 500;
      letter-spacing: 0.32px;
      border-radius: 16px;
      border: 2px solid #202554;
      border: 2px solid color(display-p3 0.1294 0.1451 0.3176);
      background: linear-gradient(162deg, #161a43 22.61%, #161a43 118.29%);
      background: linear-gradient(
        162deg,
        color(display-p3 0.0902 0.102 0.251) 22.61%,
        color(display-p3 0.0902 0.102 0.251 / 0) 118.29%
      );

      @include abstracts.screen(xxl) {
        justify-self: center;
      }

      &:first-child {
        width: 120px;
        height: 56px;
        .header-action__link {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
        }
      }

      &:nth-child(2) {
        width: 56px;
        height: 56px;
      }

      &:nth-child(3) {
        width: 96px;
        height: 56px;
      }

      &:last-child {
        border-radius: 12px;
        width: 174px;
        height: 56px;
      }
    }

    &__decorate {
      width: 2px;
      height: 56px;
      margin: 0 20px 0 21px;
      border-radius: 100px;
      background: linear-gradient(90deg, #9796f0 0%, #fbc7d4 100%);
      background: linear-gradient(
        90deg,
        color(display-p3 0.5922 0.5882 0.9176) 0%,
        color(display-p3 0.9529 0.7882 0.8314) 100%
      );

      @include abstracts.screen(xxl) {
        display: none;
      }
    }

    &__profile {
      &-link {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      &-info {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        cursor: pointer;
      }

      &-user {
        color: #e3e4e8;
        width: 77px;
        color: color(display-p3 0.8902 0.8941 0.9098);
        font-family: "Quicksand", sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
      }

      &-email {
        margin-top: 8px;
        color: var(--Colors-Blue-300, #92c5fd);
        color: var(--Colors-Blue-300, color(display-p3 0.6157 0.7686 0.9725));
        font-family: "Quicksand", sans-serif;
        font-size: 1.4rem;
      }

      &-arrow {
        margin-left: 126px;
      }
    }
  }
}

.fa-bars {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;

  @include abstracts.screen(xxl) {
    display: block;
  }
}
