*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #0b0d21;
  background: color(display-p3 0.0431 0.051 0.1255);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  outline: 0;
  border: 0;
}
